*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Boxy-Bold'; /*a name to be used later*/
    src: url('../font/Boxy-Bold.ttf'); /*URL to font*/
}
body{
  font-family: "Boxy-Bold", sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.navigation{
    display: flex;
    width: 250px;
    justify-content: space-around;
    border: 3px solid black;
    border-bottom: initial;
    padding: 2px 0;
}
.navigation a{
    font-size: 18px;
    color: #555555;
}
.navigation .active{
    color: black;
}

#canvas{
    border: 3px solid black;
}
#next_block{
    border-top: 0;
}
.high_scores{
    width: 250px;
    height: 603px;
    border: 3px solid black;
    overflow-y: auto;
}
.score_list{
    list-style-position: inside;
    font-size: 14px;
}
.score_list li{
    margin-bottom: 5px;
}
.score_list li:nth-of-type(3n+1){
    color: blue;
}
.score_list li:nth-of-type(3n+2){
    color: red;
}
.score_list li:nth-of-type(3n){
    color: lime;
}
.menu{
    width: 250px;
    display: flex;
    border: 3px solid black;
    border-top: initial;
}
.counters{
    border-left: 3px solid black;
}
.counters h2{
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 3px;
}
.counters h3{
    font-size: 14px;
    margin: 3px;
}
.score_counter{
    color: red;
}
.game_speed{
    color: lime;
}
