*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Boxy-Bold'; /*a name to be used later*/
    src: url('../font/Boxy-Bold.ttf'); /*URL to font*/
}
body{
  font-family: "Boxy-Bold", sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#canvas{
    border: 3px solid black;
}
#next_block{
    border-top: 0;
}
/*.counters{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}*/

.menu{
    width: 250px;
    display: flex;
    border: 3px solid black;
    border-top: initial;
}
.counters{
    border-left: 3px solid black;
}
.counters h2{
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 3px;
}
.score_counter{
    color: red;
}
.game_speed{
    color: lime;
}
